<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hty.dao.user.UserMapper">

    <resultMap id="mapUser" type="com.hty.entity.pojo.User">
        <result property="id" column="id"/>
        <result property="billLast" column="bill_last"/>
    </resultMap>
    <select id="selectUserLastByWindowId" resultMap="mapUser">
        select u.id id,u.bill_last bill_last from user u,openai_chat_window ocw where ocw.window_id = #{windowId} and u.id = ocw.user_id
    </select>

    <update id="updateUserBillLastById" parameterType="com.hty.entity.pojo.User">
        update user set bill_last = #{user.billLast} where id = #{user.id}
    </update>

    <update id="updateUserBillLast">
        update user set bill_last = bill_last + #{count} where id = #{userId}
    </update>
</mapper>
